#login {
    margin-top: 40px;
    font-family: 'Lora', serif;
    font-size: 40px ;
    margin-left: 50px;
}

#card {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#form {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

#button {
    min-width: 315px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

#password {
    margin-top: 20px;
    margin-left: 50px;
}

#register {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Roboto', serif;
    font-size: large ;
}

#errorText {
    font-size: smaller;
    color: red;
    margin-left: 20px;
}