<div>
    <div class="card" id="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h1 id="login"> Log In </h1>
                        </div>
                    </div>
                    <form id="form" #userForm="ngForm" (ngSubmit)='login(userForm.value)' novalidate> 

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="form-group col-md-8">
                                <input type="email" class="form-control" name="emailId" placeholder="Enter Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}" ngModel required #email="ngModel">
                            </div>
                            <div *ngIf="email.dirty" id="errorText">
                                <p *ngIf="email.errors?.required">Email Id is Required!!!</p>
                                <p *ngIf="email.errors?.pattern"> Email id shouls be in format!!!</p>
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="form-group col-md-8">
                                <input type="password" class="form-control" name="password" placeholder="Password" ngModel required #password="ngModel">
                            </div>
                        </div>
                        <div *ngIf="password.dirty" id="errorText">
                            <p *ngIf="password.errors?.required">Password is Required!!!</p>
                        </div>

                        <button class="btn btn-info btn-lg" id="button" type="submit" [disabled]="userForm.invalid">Log In</button>
                    </form>

                    <p id="password"><a routerLink="/forgotpassword">Forgot password?</a></p>
                    <p id="register">Don't have an account? <a routerLink="/signup" class="link-info">Register here</a></p>
                </div>
                <div class="col-6">
                    <img src="../../../../assets/login.jpg" class="card-img-right" style="width: 550px; height: 460px;" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</div>
