#app {
    margin-top: 10px;
    margin-left: 480px;
    font-family: 'Lora', serif;
    font-size: 40px;
}

#filter {
    margin-left: 200px;
    margin-top: 16px;
    font-family: 'Lora', serif;
}

#viewCity {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Lora', serif;
    font-size: medium;
}

#selectFilter {
    margin-left: 10px; 
    margin-top: 8px;
}

#tableContent {
    text-align: center;
}