<app-dashboard></app-dashboard>
<div>
    <div class="row">
        <div class="col-2" id="search">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search City">
        </div>
        <div class="col-8">
            <h1 id="app">List of Cities</h1>
            <table id="view" class="table" *ngIf= "cities!=undefined">
                <thead>
                <tr>
                    <th>City Rto Code</th>
                    <th>City Name</th>
                    <th>State Code</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let city of cities |filter:searchText">
                        <td>{{city.rtoCode}}</td>
                        <td>{{city.name}}</td>
                        <td>{{city.state.code}}-{{city.state.name}}</td>
                        <td>
                            <button (click)="update(city)" class="btn btn-info">Update</button>
                            <button mwlConfirmationPopover placement="left" [popoverTitle]="title" [popoverMessage]="popoverMessage" (confirm)="delete(city.id)"  class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <h2 id="tableContent" *ngIf="cities==undefined">
                No Cities Avaialable at this moment
            </h2>
        </div>
        <div class="col-2" id="add">
            <button type="button" (click)="addCity()" id="add" class="btn btn-info btn-lg">Add City</button>
        </div>
    </div>
</div>