.addPlace {
    margin-left: 400px;
    font-family: 'Lora', serif;
    font-size: large;
}

#app{
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Lora', serif;
    font-size: 40px;
}

#addPlace {
    margin-top: 20px;
}

#button {
    margin-left: 160px;
}

#errorText {
    font-size: smaller;
    color: red;
    margin-left: 20px;
}

#image {
    width: 300px;
    height: 180px;
}