<app-dashboard></app-dashboard>
<div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
            <h1 id="app">List of Bookings</h1>
            <div id="search">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Bookings">
            </div>
            <table id="view" class="table" *ngIf= "bookings!=undefined">
                <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Customer</th>
                    <th>Date Of Travel</th>
                    <th>Traveller Count</th>
                    <th>Status</th>
                    <th>Tour Package</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookings |filter:searchText |paginate:config; let i = index;">
                        <td>{{i + 1}}</td>
                        <td>{{book.customer.name}}-{{book.customer.emailId}}</td>
                        <td>{{book.dateOfTravel}}</td>
                        <td>{{book.travellerCount}}</td>
                        <td>{{book.status}}</td>
                        <td>{{book.tourPackage.name}}-{{book.tourPackage.city.rtoCode}}</td>
                        <td> 
                            <button mwlConfirmationPopover placement="left" [popoverTitle]="title" [popoverMessage]="messageApprove" (confirm)="approve(book.id)" class="btn btn-info">Approve</button>
                            <br/><br/>
                            <button mwlConfirmationPopover placement="left" [popoverTitle]="title" [popoverMessage]="messageDelete" (confirm)="deny(book.id)" class="btn btn-danger" style="margin-left: 4px; width: 86px;">Deny</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 id="tableContent" *ngIf="bookings==undefined">
                No Bookings Avaialable at this moment
                <pagination-controls style="text-align: center;color:brown;" (pageChange)="pageChanged($event)">
                </pagination-controls>
            </h2>
        </div>
    </div>
</div>