<app-dashboard></app-dashboard>
<div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <h1 id="app">List of Bookings</h1>
            <div id="search">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Bookings">
            </div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-2" id="add">
            <button type="button" (click)="verify()" id="add" class="btn btn-info btn-lg">Verify Bookings</button>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <table id="view" class="table" *ngIf= "bookings!=undefined">
                <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Customer</th>
                    <th>Date Of Travel</th>
                    <th>Traveller Count</th>
                    <th>Status</th>
                    <th>Tour Package</th>
                </tr>
                </thead>
                <tbody id="myTable">
                    <tr *ngFor="let book of bookings |filter:searchText |paginate:config; let i = index;">
                        <td>{{i + 1}}</td>
                        <td>{{book.customer.name}}-{{book.customer.emailId}}</td>
                        <td>{{book.dateOfTravel}}</td>
                        <td>{{book.travellerCount}}</td>
                        <td>{{book.status}}</td>
                        <td>{{book.tourPackage.name}}-{{book.tourPackage.city.rtoCode}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf= "bookings!=undefined" id="paginations">
                <pagination-controls (pageChange)="pageChanged($event)">
                </pagination-controls>
            </div>
            <h2 id="tableContent" *ngIf="bookings==undefined">
                No Bookings Avaialable at this moment
            </h2>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>