<app-dashboard></app-dashboard>
<div class="addState">

    <h1 id="app">Add State</h1>

    <form id="addState" #userForm="ngForm" (ngSubmit)='saveState(userForm.value)' novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="stateCode">Enter the State Code</label>
                <input type="text" class="form-control" name="code" placeholder="Enter the State Code as AB" pattern="[A-Z]{2}" ngModel required #code="ngModel">
            </div>
        </div>
        <div *ngIf="code.dirty" id="errorText">
            <p *ngIf="code.errors?.required">State Code is Required!!!</p>
            <p *ngIf="code.errors?.pattern">Exactly 2 capital characters are required!!!</p>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="stateName">Enter the State Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter the State Name" pattern="[A-Z a-z]{2,}"ngModel required #name="ngModel">
            </div>
        </div>
        <div *ngIf="name.dirty" id="errorText">
            <p *ngIf="name.errors?.required">State Name is Required!!!</p>
            <p *ngIf="name.errors?.pattern">State Name must have only alphabets!!!</p>
        </div>

        <button type="submit" id="button" [disabled]="userForm.invalid" class="btn btn-primary">Add State</button>
    </form>
</div>