<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card" id="card">
            <div class="card-body">
                <div class="form-row">
                        <h1 id="login"> Forget Password </h1>
                </div>
                <form id="form" #userForm="ngForm" (ngSubmit)='forgot(userForm.value)' novalidate> 

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="form-group col-md-8">
                            <input type="email" class="form-control" name="emailId" placeholder="Enter Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}" ngModel required #email="ngModel">
                        </div>
                        <div *ngIf="email.dirty" id="errorText">
                            <p *ngIf="email.errors?.required">Email Id is Required!!!</p>
                            <p *ngIf="email.errors?.pattern"> Email id shouls be in format!!!</p>
                        </div>
                    </div>
                    <button class="btn btn-info btn-lg" id="button" type="submit" [disabled]="userForm.invalid">Reset Password</button>
                </form>
            </div>
          </div>
    </div>
    <div class="col-2"></div>
</div>