<app-student-dashboard></app-student-dashboard>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 id="app">Change your password</h1>
        <form id="addCity" #userForm="ngForm" (ngSubmit)='changePassword(userForm.value)' novalidate>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="curpass">Enter Your Current Password</label>
                    <input type="password" class="form-control" name="currentPassword" placeholder="Enter Your Current Password" ngModel required #currentpassword="ngModel">
                </div>
            </div>
            <div *ngIf="currentpassword.dirty" id="errorText">
                <p *ngIf="currentpassword.errors?.required">Current Password is Required!!!</p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="newpass">Enter Your New Password</label>
                    <input type="password" class="form-control" name="newPassword" placeholder="Enter Your New Password" minlength="8" ngModel required #newpassword="ngModel">
                </div>
            </div>
            <div *ngIf="newpassword.dirty" id="errorText">
                <h5 *ngIf="newpassword.errors?.required">New Password is Required!!!</h5>
                <h5 *ngIf="newpassword.errors?.minlength">Password should atleast by 8 character of length</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="retype">Retype Your New Password</label>
                    <input type="password" class="form-control" name="retype" placeholder="Retype Your New Password" ngModel required #retype="ngModel">
                </div>
            </div>
            <div *ngIf="retype.dirty" id="errorText">
                <h5 *ngIf="retype.errors?.required">New Password is Required!!!</h5>
                <h5 *ngIf="newpassword.value!=retype.value">Doesn't match your new password</h5>
            </div>
            <button type="submit" id="button" [disabled]="userForm.invalid" class="btn btn-primary">Change password</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>